flows (1).json
[{"id":"caefd428.5c1278","type":"tab","label":"Requests Python","disabled":false,"info":""},{"id":"db963ced.2122a","type":"http in","z":"caefd428.5c1278","name":"","url":"/python","method":"post","upload":false,"swaggerDoc":"","x":250,"y":120,"wires":[["47d9aff7.4884c","66f3b66d.ed9e08"]]},{"id":"47d9aff7.4884c","type":"http response","z":"caefd428.5c1278","name":"","statusCode":"","headers":{},"x":450,"y":100,"wires":[]},{"id":"66f3b66d.ed9e08","type":"debug","z":"caefd428.5c1278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":140,"wires":[]},{"id":"7d46bf3a.dcd89","type":"websocket in","z":"caefd428.5c1278","name":"","server":"bb4065b5.e3a2a8","client":"","x":230,"y":340,"wires":[["6cba05ee.eff61c","df1fac00.dac6e"]]},{"id":"6cba05ee.eff61c","type":"debug","z":"caefd428.5c1278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":340,"wires":[]},{"id":"1c53bcad.ec7c43","type":"websocket out","z":"caefd428.5c1278","name":"","server":"bb4065b5.e3a2a8","client":"","x":420,"y":440,"wires":[]},{"id":"df1fac00.dac6e","type":"change","z":"caefd428.5c1278","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"asdadasd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":400,"wires":[["1c53bcad.ec7c43"]]},{"id":"bb4065b5.e3a2a8","type":"websocket-listener","z":"","path":"ws/teste","wholemsg":"false"}]